<!DOCTYPE html>
<html>
  <style>
    .display{
        padding: 10px;
    }

    .displaybtn{
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    
</style>

  <head>
    <title>Reporte de Fallas</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Departamento de Atención al Usuario</h1>
    </header>
    <main>
      <h2>Reporte de Fallas</h2>
      <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="equipo">Equipo:</label>
        <input type="text" id="equipo" name="equipo" required />
        <label for="falla">Falla:</label>
        <textarea id="falla" name="falla" required></textarea>
        <input type="submit" value="Enviar" />
      </form>

      <div class="display">
        <form action="http://127.0.0.1:5000/display" >
          <input type="submit" value="Display data" class="displaybtn"/>
      </form>
      </div>
      
    </main>
    <footer>
      <p>&copy; 2023 Departamento de Atención al Usuario</p>
    </footer>
  </body>
</html>
