<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <title>Solveware</title>
    <style>
            .data {
                padding: 20px;
                margin: 10px;
                background-color: #eee;
            }

            body {
                background: linear-gradient(45deg, #FC466B, #3F5EFB);
                height: 100vh;
                font-family: 'Montserrat', sans-serif;
            }
    </style>

</head>
<body>
    {% for data in reporte%}
    <h1>Reporte de {{data["nombre"]}}</h1>
        <div class="data">
            <h3>ID: {{data["_id"]}}</h3>
            <h3>Nombre: {{data["nombre"]}}</h3>
            <h3>Email: {{data["email"]}}</h3>
            <h3>Teléfono: {{data["tel"]}}</h3>
            <h3>Equipo: {{data["equipo"]}}</h3>
            <h3>Falla: {{data["falla"]}}</h3>
            <h3>Status: {{data["status"]}}</h3>
            <h3>Fecha de publicación: {{data["postdate"]}}</h3>
            <h3>Hora de publicación (AST): {{data["posttime"]}}</h3>

            <h3>Técnico: {{data["tecnico"]}} </h3>
            <form method="post">
                <label for="tecnicos" style="font-weight: bold; font-size: 16px;">Escoge el tecnico:</label>
                <br>
                <select id="tecnicos" name="tecnicos" size="5" multiple style="padding: 10px; border-radius: 5px; border: none; background-color: #f2f2f2;">
                  <option value="Carlos">Carlos</option>
                  <option value="Pedro">Luz</option>
                  <option value="Fran">Fran</option>
                  <option value="Amanda">Amanda</option>
                  <option value="Edwin">Edwin</option>
                </select>
                <br><br>
                <input type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
              </form>
              
            <hr>
            {% if data["status"]=="cerrado" %}
            <h3>Fecha de cierre: {{data["closeddate"]}}</h3>
            <h3>Hora de cierre: {{data["closedtime"]}}</h3>
            {% if data["fixstatus"]=="yes" %}
            <div style="display: flex; align-items: center;">
                <h3 style="margin-right: 10px;">Fue arreglado?</h3>
                <img src="{{ url_for('static', filename='right-icon.png') }}" style="width:20px;height:20px;">
              </div>
            {% endif %}
            
            <h3>Descripcion: {{data["descripcion"]}}</h3>
            {% endif %}

            <h4><a href="update-{{data["_id"]}}" style="color:black; float: right; padding-bottom: 10px;">Cerrar Reporte</a></h4>
        </div>
    {% endfor %}
    </div>

    <form action="/display-reportes">
        <input type="submit" value="Back" />
    </form>

</body>
</html>