<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
            .data {
                padding: 20px;
                margin: 10px;
                background-color: #eee;
            }
    </style>

</head>
    {% for data in reporte%}
    <h1>Reporte de {{data["nombre"]}}</h1>
        <div class="data">
            <h3>ID: {{data["_id"]}}</h3>
            <h3>Nombre: {{data["nombre"]}}</h3>
            <h3>Email: {{data["email"]}}</h3>
            <h3>Telefono: </h3>
            <h3>Equipo: {{data["equipo"]}}</h3>
            <h3>Falla: {{data["falla"]}}</h3>
            <h3>Status: {{data["status"]}}</h3>
            <h3>Fecha de publicacion: {{data["postdate"]}}</h3>
            <h3>Hora de publicacion (AST): {{data["posttime"]}}</h3>
            <hr>
            <h3>Tecnico: {{data["tecnico"]}} </h3>

            <form method = "post">
                <label for="tecnicos">Escoge el tecnico:</label>
                <select id="tecnicos" name="tecnicos" size="5" multiple>
                  <option value="Carlos">Carlos</option>
                  <option value="Pedro">Pedro</option>
                  <option value="Fran">Fran</option>
                  <option value="Flor">Flor</option>
                  <option value="Edwin">Edwin</option>
                </select><br><br>
                <input type="submit">
              </form>

            <h3>Fecha de cierre: {{data["closeddate"]}}</h3>
            <h3>Hora de cierre: {{data["closedtime"]}}</h3>

            <h4><a href="update-{{data["_id"]}}" style="color:black; float: right; padding-bottom: 10px;">Cerrar Reporte</a></h4>
        </div>
    {% endfor %}
    </div>

    <form action="/display-reportes">
        <input type="submit" value="Back" />
    </form>

</body>
</html>